h1{
    font-size: 72px;
    padding: 20px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    user-select: none; /* Standard */
}

h3{
    padding: 5px;
    margin-top: 10px;
}

header{
    background-image: linear-gradient(to right, #00ffff, #ff5c33);
}

.search-area{
    background-color: whitesmoke;
}

.search-btn{
    background-color: #0033cc;
    color: white;
    padding: 5px;
}

.city-btn{
    display: inline-block;
    background-color: white;
    width: 100%;
    padding:20px;
    border: 1px solid lightgray;
    border-radius: 5px 0px 0px 5px;    
}

.delete-icon{
    pointer-events: none;
}

.delete-btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    border-radius: 0px 5px 5px 0px;
}



.button-div{

    padding-left:0px !important;
    padding-right:0px !important;
    margin:0px !important;
}

span{
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.card-content{
    padding:20px;

}

.card{
    background-color: lightblue;
}

.forecast-card{
    background-color:rgb(11, 31, 209);
    color: white;
    padding: 5px 15px 5px 15px;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
}